name: Deploy Web App
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter create .
      - run: flutter pub get
      
      # === 只有这里改了 ===
      # 请看清楚：base-href 前面是两个横杠 --
      - run: flutter build web --release --base-href "/-/" --web-renderer html --no-tree-shake-icons

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
