name: Build IPA
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r GlassFund.ipa Payload
      - uses: actions/upload-artifact@v4
        with:
          name: GlassFund-App
          path: GlassFund.ipa
